<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291618073827-k6mj63i4hq5n6k3v2ircv1p2rgl7290e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291618073827-k6mj63i4hq5n6k3v2ircv1p2rgl7290e</string>
	<key>API_KEY</key>
	<string>AIzaSyACwxeMGRJWhCxZmEll-uBd3noYAChoOKU</string>
	<key>GCM_SENDER_ID</key>
	<string>291618073827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.NewUnityProject2</string>
	<key>PROJECT_ID</key>
	<string>team-voltron-sp</string>
	<key>STORAGE_BUCKET</key>
	<string>team-voltron-sp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291618073827:ios:0736e71e5f2ece93dfa9d6</string>
	<key>DATABASE_URL</key>
	<string>https://team-voltron-sp.firebaseio.com</string>
</dict>
</plist>